.track-container {
  @include flex_center;
  position: relative;
  padding: 18px;
  height: 64px;
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: bold;
  color: $BaseBlack;
  background-color: $BaseWhite;
  border: 2px solid $BaseBlack;
  box-sizing: border-box;

  &.radius {
    border-radius: 8px;
    &::after {
      border-radius: 8px;
    }
  }

  &.track {
    padding: 16px 16px 16px 0px;
    height: 80px;
    &::after {
      height: 80px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 2px;
    left: -6px;
    display: block;
    width: 100%;
    height: 64px;
    background-color: $BaseWhite;
    border: 2px solid $BaseBlack;
    box-sizing: border-box;
  }

  .track-content {
    @include flex;
    @include flex_align;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;

    &__img {
      width: 76px;
      height: 76px;
      border-radius: 7px 0 0 7px;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      border-right: 2px solid $BaseBlack;
      object-fit: cover;
    }

    &__name {
      font-size: 1rem;
      font-weight: bold;
      line-height: 1.5;
      color: $BaseBlack;
    }

    &__text {
      font-size: 1rem;
      line-height: 1.5;
      color: $BaseBlack;
    }

    .btn {
      margin-left: auto;
    }
  }
}
